/*Tipografia */ 
$tipografia: 'Merriweather sans', Arial, sans-serif;

/*Colores */ 
$rojo: #EA4748;
$gris: #696969;
$azul-facebook: #316DB7;
$celeste-twitter: #17A8DD;
$naranjo-rss: #FF9204;
$palido-gris: #FAFAFA;